<div class="marker-info-window">
  <h2>I am marker {{title}}</h2>

  <div>
    <div>my latitude: <code>{{lat}}</code></div>
    <div>my longitude: <code>{{lng}}</code></div>
  </div>
  <h4>{{description}}</h4>
</div>
